* {
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
}

.nav {

}

.displayTodo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 2em 4em;
}

.todo {

}

.todoCard {
  display: flex;
  /* justify-content: space-around; */
  flex-direction: column;
  height: 300px;
  width: 125px;
  border: 1px solid black;
  flex-wrap: nowrap;
  padding: 2em 2em;
  margin: 2em 2em;

}
